DATABASE_URL="postgresql://postgres.zzokfnexryheegknmcsb:@5nTx$435ArVEik@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres"

# LINE Messaging API
LINE_CHANNEL_ACCESS_TOKEN="hxr2gtp+EimGmmraQE7djCBJ+acTMcl9ohTfYwcm4vyVUt//hR5w/bV44xKCbXWDnOMsu0AtTEFarePYkE6XMfLtbQ/EU//tfdmxbbYWmuQ8XotLBXxQ9SJJr8Uie7tky7Q/G2IPGXpRgl3roolxkAdB04t89/1O/w1cDnyilFU="

# Base URL (for receipt image URL sent to LINE)
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# LINE LIFF (for member registration)
NEXT_PUBLIC_LIFF_ID="2008438485-VKEqmNbr"

# PromptPay (for receipt invoice)
PROMPTPAY_ACCOUNT="0431839954"
PROMPTPAY_NAME="นส.หฤทัย หะมูซอ"
